<md-card>
  <br>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span class="push-left-sm">
      <span class="md-title">Formulário de Funcionário</span>
    </span>
  </div>
  <br>
  <div flex="100" class="flex flex-col pad-left-sm">
    <form #formulario="ngForm" layout="column" layout-margin>
      <md-input-container class="md-block">
        <input type="text" maxlength="100" mdInput placeholder="Nome" [(ngModel)]="funcionario.nome" required name="nome"/>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="text" maxlength="20" mdInput placeholder="RG" [(ngModel)]="funcionario.rg" required name="rg"/>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="text" maxlength="11" (keypress)="soNumero($event)" mdInput placeholder="CPF" [(ngModel)]="funcionario.cpf" required name="cpf"/>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="date" maxlength="10" mdInput placeholder="Data Nascimento" [ngModel] ="funcionario.dataNascimento | date:'yyyy-MM-dd'" (ngModelChange)="funcionario.dataNascimento = $event" required name="dataNascimento"/>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="text" maxlength="20" mdInput placeholder="Telefone" [(ngModel)]="funcionario.telefone" required name="telefone"/>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="text" maxlength="20" mdInput placeholder="Celular" [(ngModel)]="funcionario.celular" required name="celular"/>
      </md-input-container>
    </form>

    <md-toolbar>
      <button [disabled]="!formulario.form.valid" md-raised-button color="primary" (click)="onSalvar()">
        Salvar
      </button>
      <div [hidden]="alterarRegistro">
        <button type="button" (click)="onExcluir()" md-button class="text-upper">Inativar</button>
      </div>
      <button type="button" routerLink="/funcionario-listagem" md-button class="text-upper">Voltar</button>
    </md-toolbar>

  </div>
</md-card>
