<!--<h2>Listagem de Funcionario</h2>-->
<!--<button (click)="onBuscarFuncionarioById()">Buscar Por Id</button>-->

<md-card>
  <md-toolbar>
        <div class="md-toolbar-tools">
          <button routerLink="/funcionario-formulario" md-button color="accent" class="text-upper">Cadastrar</button>
        </div>
  </md-toolbar>

  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span class="md-title">Listagem de Funcionários</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Buscar" (searchDebounce)="onBuscar($event)" flex>
    </td-search-box>
  </div>

  <md-divider></md-divider>
  <br>

  <md-list class="pull-top">
    <md-list-item>
      <!--<md-icon md-list-avatar>apps</md-icon>-->
      <h3 md-line>Funcionário</h3>
      <span flex></span>
      <span flex="30" class="pad-left md-body-1 tc-grey-500">
        <h3 md-line>CPF</h3>
      </span>
      <span flex="30" class="md-body-1 tc-grey-500">
        <h3 md-line>Modificado em</h3>
      </span>
    </md-list-item>

    <md-divider></md-divider>
    
    <ng-template let-item="$implicit" let-i="index" let-last="last" ngFor [ngForOf]="funcionarios">
      <a md-list-item routerLink="/funcionario-formulario/{{funcionarios[i].id}}" style="text-decoration:none">
        <!--<md-icon md-list-avatar>people</md-icon>-->
        <h3 md-line>{{funcionarios[i].nome}}</h3>
        <p md-line></p>
        <span flex></span>
        <span flex="30" class="md-body-1 tc-grey-500">{{funcionarios[i].cpf}}</span>
        <span flex="30" class="md-body-1 tc-grey-500">{{funcionarios[i].updated}}</span>
      </a>
      <md-divider *ngIf="!last"></md-divider>
    </ng-template>
  </md-list>

</md-card>
